/* כותרת הכניסה */
.login-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 100px;
  /* רווח למטה בין הכותרת לטופס */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* מיקום הטופס במרכז העמוד */
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* גובה מלא של המסך */
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* קונטיינר של הטופס */
.form-container {
  background-color: #fafafa;
  /* רקע בהיר */
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  /* הצללה עדינה */
  width: 400px;
  /* רוחב הטופס */
  max-width: 100%;
}

/* עיצוב שדות הטופס */
.form-field {
  width: 100%;
  margin-bottom: 15px;
}

mat-form-field {
  display: block;
}

/* כפתור הכניסה */
.submit-btn {
  width: 100%;
  color: white;
  font-size: 1rem;
  padding: 12px 0;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: none;
}


/* כפתור הסתרת הסיסמה */
button.mat-icon-button {
  padding: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* רווח בין השדות */
}

.form-field {
  width: 100%; /* שדה קלט תופס את כל הרוחב */
}

.submit-btn {
  margin-top: 16px; /* רווח מעל הכפתור */
}
